@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  margin: 0;
}

.section-title_hr {
  display: inline-block;
  width: 75%;
}

/*pattern party header*/
.header {
  background-color: #2F2235;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 4%;
}

.header h1,
.header h2 {
  margin: 0 3%;
}

.header_span {
  color: #34D1D1;
}

.header_h1 {
  font-weight: lighter;
}

.header_h1,
.header_h2 {
  color: white;
  display: inline;
  margin: 0;
}

.header_h2 {
  float: right;
}

.section-title {
  display: inline-block;
  font-weight: 300;
  margin: 0 3%;
  width: 12%;
}

/*Accordion Tabs*/
.accordion-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
}

.accordion-tabs_h3 {
  margin-top: 12%;
}

.accordion-tabs article {
  border-top: none;
  border: 1px solid black;
  display: none;
  width: 100%;
}

.accordion-tabs input[type=radio] {
  opacity: 0;
  order: 1;
  position: absolute;
}

.accordion-tabs label {
  background-color: #F2F2F2;
  border: 1px solid white;
  flex-grow: 2;
  height: 6vh;
  line-height: 338%;
  margin: 0;
  text-align: center;
  max-height: 100px;
  cursor: pointer;
}

.accordion-tabs input:checked + .tab-1 ~ .tab-1_article,
.accordion-tabs input:checked + .tab-2 ~ .tab-2_article,
.accordion-tabs input:checked + .tab-3 ~ .tab-3_article,
.accordion-tabs input:checked + .tab-4 ~ .tab-4_article {
 display: flex;
 order: 2;
}

.accordion-tabs input:checked + label {
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.accordion-tabs input:checked + .tab-1 {
  border-left: 1px solid black;
}

.tab-3,
.tab-4 {
  border-left: none;
  border-right: none;
}

.accordion-tabs input:checked + .tab-4,
.accordion-tabs input:checked + .tab-3,
.accordion-tabs input:checked + .tab-2,
.accordion-tabs input:checked + .tab-1 {
  border-bottom: none;
  border: 1px solid black;
}

.tabs-view-code {
  background-color: blue;
  border: 1px solid black;
  color: white;
  display: block;
  height: 25px;
  line-height: 150%;
  margin: 8% auto;
  text-align: center;
  text-decoration: none;
  width: 20vw;
}

.x-box {
  height: 28vh;
  display:inline-block;
  margin: 2%;
}

.accordion-tabs_div {
  display: inline-block;
  align-self: center;
  width: 65%;
}

.accordion-tabs_h3 {
  margin: 2%;
}

hr {
  opacity: .7;
}

/*Flexible cards*/

.flexible-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
}

.flexible-cards_div {
  border: 1px solid black;
  margin: 2%;
  flex-grow: 1;
  flex-basis: 30%;;
}

.flexible-cards_div--big {
  flex-grow: 1.5;
  border: 1px solid black;
  margin: 2%;
  flex-basis: 60%;
}

.flexible-cards_h4 {
  border-bottom: 1px solid black;
  font-weight: 600;
  padding-left: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}

.flexible-cards_article {
  height: 22vh;
}

.x-box-flex {
  width: 100%;
  height: 100%;
}

/*Custom header*/

.custom-header {
  align-items: center;
  background-color: #D1D2D3;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70vw;
  height: 12vh;
}

.custom-header p {
  cursor: pointer;
  opacity: .6;
}

.header_button {
  border-radius: 25px;
  flex-grow: .2;
  height: 7vh;
  cursor: pointer;
  opacity: .6;
}

.custom-header_menu {
  display: none;
  float: right;
  margin-right: 2%;
}

.custom-header_search-field {
  display: flex;
}

.custom-header_search-field input {
  border: none;
}

.custom-header_spyglass {
  height: 4vh;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .custom-header {
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    width: 33vh;
  }

  .navigation-link,
  .custom-header_search-field {
    display:none
  }

  .custom-header_menu {
    display: inline-block;
  }

  .custom-header:hover {
    height: 40vh;
  }

  .custom-header:hover p {
    display: inline-block;
  }

  .custom-header:hover .custom-header_search-field {
    display: flex;
  }

  .custom-header_options {
    width: 95%;
  }
}

@media only screen and (max-width: 580px) {
  .accordion-tabs {
    border: 1px solid black;
    flex-direction: column;
    text-align: center;
  }

  .flexible-cards {
    flex-direction: column;
  }

  .accordion-tabs input:checked + .tab-1 ~ .tab-1_article,
  .accordion-tabs input:checked + .tab-2 ~ .tab-2_article,
  .accordion-tabs input:checked + .tab-3 ~ .tab-3_article,
  .accordion-tabs input:checked + .tab-4 ~ .tab-4_article {
    display: block;
    order: 0;
  }
}