body {
  margin: 0;
}

.header {
  background-color: #3e4c9b;
}

.header_span {
  color: lightblue;
}

.header_h1,
.header_h2 {
  margin: 0;
  display: inline;
  color: white;
}

.header_h2 {
  float: right;
}

/*Accordion Tabs*/
.accordion-tabs {
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.accordion-tabs_h3 {
  margin-top: 12%;
}

.accordion-tabs article {
  display: none;
  width: 100%;
  border: 1px solid black;
  border-top: none;
}

.accordion-tabs input[type=radio] {
  position: absolute;
  opacity: 0;
  order: 1;
}

.accordion-tabs label {
  margin: 0;
  flex-grow: 2;
  text-align: center;
  border: 1px solid white;
  height: 8vh;
  background-color: lightblue;
}
.accordion-tabs input:checked + .tab-1 ~ .tab-1_article,
.accordion-tabs input:checked + .tab-2 ~ .tab-2_article,
.accordion-tabs input:checked + .tab-3 ~ .tab-3_article,
.accordion-tabs input:checked + .tab-4 ~ .tab-4_article {
 display: block;
 order: 2;
}

.accordion-tabs input:checked + label {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.accordion-tabs input:checked + .tab-1 {
  border-left: 1px solid black;
}

.tab-3,
.tab-4 {
  border-right: none;
  border-left: none;
}

.accordion-tabs input:checked + .tab-4 {
  border-right: 1px solid black;
}